<header>Burger Diner
  {{!-- <h1 class="text-center burgerTitle">Super Burger</h1> --}}

    <div class="formDiv align-center col-xs-12 col-s-8 col-md-4 col-lg-2 col-xl-2">
    <form class="create-update-form" action="burgers/insertOne" method="POST">
      <div class="form-group col-lg-2">
        <textarea placeholder="Enter a burger you want to eat, and then click the submit button." id="burgername"
          name="burger_name" rows="3" cols="auto"></textarea>
        <br>
        <button type="submit" class="btn btn-lg btn-primary submitButton">Submit</button>
      </div>
    </form>
  </div>
</header>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-6" style="background-color:yellow;" margin="40px">
    <ol class="customcounter1">
      {{#each burgers}} {{#unless this.devoured}}
      <div class="notDevoured">
        <li>{{this.burger_name}}</li>
        <div class="wallpaperFull">
          {{!-- Button sends this.id back to the server --}}
          <form action="burgers/updateOne/{{this.id}}?_method=PUT" method="POST">
            <button type="submit" class="btn btn-default btn-primary devourButton">DEVOUR IT!</button>
          </form>
        </div>
      </div>
      {{/unless}} {{/each}}
    </ol>
    </div>
    <div class="col-sm-6" style="background-color:pink;">
    <ol class="customcounter2">
      {{#each burgers}} {{#if this.devoured}}
      <div class="wallpaperDevoured">
        <li>{{this.burger_name}}</li>
      </div>
      {{/if}} {{/each}}
    </ol>
    </div>
  </div>
</div>

{{!-- </header> --}}

{{!-- <div class="container">
  <div class="left-bg">
  </div>

  <div class="right-bg">
  </div>

</div> --}}




{{!-- <div class="footer navbar-fixed-bottom">
      <div class="container">
        <form action="burgers/deleteAll/?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-sm deleteButton">Delete All</button>
        </form>
      </div>
    </div> --}}
{{!-- </div> --}}

